.navbar-inverse .navbar-text {
  width: 100%;
  text-align: center;
  color: #eceef0;
}
.btn.btn-default {
	background-color: #eceef0;
	color: #34495e;
}

.btn-group > .btn:first-of-type,
.btn-group > .btn:last-of-type,
.list-group-item:first-child,
.list-group-item:last-child {
	border-radius: 0;
}
.button {
	top: -17px;
	position: relative;
}
html, body {
    height: 100%;
}
#eventDetails, #prayerDetails,
#noticeDetails {
  padding: 25px;
}
.wrapper {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -60px;
}
.push, .footer {
   height: 60px;
}
.footer {
   background-color: #f5f5f5;
}
@media (max-width: 767px) {
.footer {
   margin-left: -20px;
   margin-right: -20px;
   padding-left: 20px;
   padding-right: 20px;
   }
}

.wrapper > .container-fluid {
   padding-top: 64px;
   padding-bottom: 41px;
}
.footer p {
  text-align: center;
}